<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" packages="io.vertigo.analytics.server.feeders.influxdb.log4j2">
        <Appenders>
                <InfluxdbProcess name="InfluxdbProcess" serverUrl="http://influxdb:8086" login="mars" password="kleeklee" />
                <InfluxdbMetric name="InfluxdbMetric" serverUrl="http://influxdb:8086" login="mars" password="kleeklee" />
                <InfluxdbHealth name="InfluxdbHealth" serverUrl="http://influxdb:8086" login="mars" password="kleeklee" />
        </Appenders>
        <Loggers>
                <!-- old -->
                <Logger name="analytics-health" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbHealth" />
                </Logger>
                <Logger name="analytics-metric" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbMetric" />
                </Logger>
                <Logger name="io.vertigo.commons.plugins.analytics.log.SocketLoggerAnalyticsConnectorPlugin" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbProcess" />
                </Logger>

                <!-- new -->
                <Logger name="vertigo-analytics-process" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbProcess" />
                </Logger>
                <Logger name="vertigo-analytics-health" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbHealth" />
                </Logger>
                <Logger name="vertigo-analytics-metric" level="info" additivity="false">
                        <AppenderRef ref="InfluxdbMetric" />
                </Logger>
        </Loggers>
</Configuration>